/Bin/Output
/Bin/Logs
/Bin/Backups
/Bin/Saves
/Bin/Web
/Bin/Docs
*.dll
*.pdb
*.exe
*.sh
*.mdb
*.csproj.user
*.suo
*.log
*.cache
*.bin
*.log
*.config
*.DotSettings.user
/Honesty
staffHistory.xml
reportHistory.xml