/Bin/Output
/Bin/Logs
/Bin/Backups
/Bin/Saves
/Bin/Web
/Bin/Docs
/Bin/Honesty
/Bin/Reports
/Honesty
/Docs
/ShardEngine/Bin
/ShardEngine.dll
*.dll
*.pdb
*.exe
*.sh
*.mdb
*.csproj.user
*.suo
*.log
*.cache
*.bin
*.log
*.config
*.DotSettings.user
.vs/
drng64.dll
drng32.dll
libdrng.so
Bin/staffHistory.xml
Bin/reportHistory.xml